
//fuentes
$fuente_principal:'Roboto', sans-serif;
//colors

$fondoGris:#fafafa;
$colorTexto:#1072eb;


$blanco:#fff;
$negro:#373737;
$negroBajo:#5d5c5d;
$gris:#b7b7b7;
$negroFuerte:#0c0c0d;
//seccion inicio
$colorMenu:#fff;
$colorTextMenuNav:#373737;
$colorHoverNavTex:#2898ee;
$colorHoverNavLine:#2898ee;
$colorFondoSlider:#15297c;
//inicio servicio
$colorMenuServicios:#15297c;
$colorMenuServicoSegundo:#15297c;
$colorSectionResponsive:#373737;
//Banner
$colorBanner:#15297c;
$colorBannerDerecha:#15297c;
//servicio
$cardServicioHover:#107acc;
$iconoServicio:#ffc107;

//precios
$colorCardPrecios:#15297c;

//contacto
$colorForm:#373737;
$colorBtn:#15297c;
$colorcontactofondo:#fafafa;
//pagina btn
$btn-pagina:#107acc;
//precio
$precio:#ffc107;
//Media query
$telefono:480px;
$tablet:768px;
$desktop:1024px;
//unidades
$separacion:5rem;