
//fuentes
$fuente_principal:'Roboto', sans-serif;
//colors

$blanco:#fff;
$negro:#373737;
$negroBajo:#5d5c5d;
$gris:#b7b7b7;
$negroFuerte:#00000000;
//seccion inicio
$colorMenu:#fff;
$colorTextMenuNav:#373737;
$colorHoverNavTex:#2898ee;
$colorHoverNavLine:#2898ee;;
//inicio servicio
$colorMenuServicios:#15297c;
$colorMenuServicoSegundo:#15297c;
$colorSectionResponsive:#373737;
//Banner
$colorBanner:#15297c;
$colorBannerDerecha:#15297c;
//servicio
$cardServicioHover:#107acc;
$iconoServicio:#0cbccc;

//precios
$colorCardPrecios:#15297c;

//contacto
$colorForm:#373737;
$colorBtn:#15297c;
//pagina btn
$btn-pagina:#107acc;

//Media query
$telefono:480px;
$tablet:768px;
$desktop:1024px;
//unidades
$separacion:5rem;