<IfModule mod_rewrite.c>
# Activar rewrite
RewriteEngine on


#RewriteCond %{HTTP_HOST} !^www.devscun.com [NC]
#RewriteRule ^(.*) https://www.devscun.com/$1 [L,R=301]
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*) https://www.devscun.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.shtml -f
RewriteRule ^(.*)$ $1.shtml

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*) index.php?route=$1

RewriteCond %{HTTP:Authorization} .
# Ensure Authorization header is passed along
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

</IfModule>