@use 'base/variables' as v;
@use 'base/mixins' as m;

.banner{
   margin-top: 5.2rem;
   display: flex;
   align-items: center;
   margin-bottom: 1.5rem;
    @include m.gradiente(v.$secundario,v.$terciario);
   min-height: 10rem;
   .contenido-banner{
       h2{
           color: v.$blanco;
           margin: 1rem;
       }
   }
}