@use 'base/variables' as v;
@use 'base/mixins' as m;

.hero{
   margin-top: 5.2rem;
   min-height: 24rem;
   color: v.$blanco;
   display: flex;
   align-items: center;
   background-size: cover;
   @include m.background-imagen('../../../assets/img/banner-diseño-web.jpg');
   .contenido-hero{
       flex: 1;
       h1{
            margin: 1rem;
            color: v.$blanco;
        }
        h2{
            color: v.$blanco;
            margin: 1rem;
        }
       @include m.tablet(){
           h1{
               margin: 1rem;
           }
       }
   }

}