@use 'base/variables' as v;
@use 'base/mixins' as m;

.contacto {

   .caja-contacto-form{
        display: flex;
        flex-direction: column-reverse;
       .contenedor-form{
            flex: 0 0 calc(100%);
           .info-contact{
                flex: 0 0 calc(100%);
                margin: .5rem;
                margin-top: 1rem;
                span{
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                .more-info-contact{
                    font-size: 1.3rem;
                }
                form{
                    margin-top: 1.5rem;
                    .inputs{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        .input-group{
                            flex: 0 0 calc(100%);
                            input[type="text"]{
                                width: 100%;
                                height: 2.1rem;
                                border: 1px solid #ced4da;
                                border-radius: 5px;
                                margin-top: .3rem;
                                padding: 10px 10px;
                                margin-bottom: 0.3rem;
                            }
                            input[type="text"]:focus {
                                outline: 0;
                                border-color: #3d9cff;
                                box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
                            }
                        }
                    }
                    .inputs-asunto{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        .input-group{
                            flex: 0 0 calc(100%);
                            input[type="text"]{
                                width: 100%;
                                height: 2.1rem;
                                border: 1px solid #ced4da;
                                border-radius: 5px;
                                margin-top: .3rem;
                                padding: 10px 10px;
                                margin-bottom: 0.3rem;
                            }
                            input[type="text"]:focus {
                                outline: 0;
                                border-color: #3d9cff;
                                box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
                            }
                        }
                    }
                    .inputs-message{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        .input-group {
                            flex: 0 0 calc(100%);
                            textarea {
                                width: 100%;
                                overflow: auto;
                                resize: vertical;
                                padding: .375rem .75rem;
                                font-size: 1rem;
                                line-height: 1.5;
                                color: #495057;
                                background-color: #fff;
                                background-clip: padding-box;
                                border: 1px solid #ced4da;
                                border-radius: .25rem;
                                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                                margin-top: .5rem;
                                margin-bottom: 0.3rem;
                            }
                            textarea:focus{
                                outline: 0;
                                border-color: #3d9cff;
                                box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
                            }
                        }
                    }
                    .inputs-btn{
                        input[type="Submit"] {
                            width: 100%;
                            height: 55px;
                            background:v.$secundario;
                            border: none;
                            border-radius: 5px;
                            font-size: 22px;
                            font-weight: 500;
                            color: #fff;
                            margin-top: 20px;
                            cursor: pointer;
                        }
                    }
                   }
            }
             


        }
        .comunicate{
            flex: 0 0 calc(100%);
            .caja-contacto-info{
                .mas-info{
                    ul{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li{
                            margin: .5rem;
                            margin-top: 0px;
                            .fa-phone,.fa-envelope{
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
                .siguenos{
                    img{
                        display: none;
                        width: 100%;
                    }
                }

                @include m.tablet(){
                    .mas-info{
                        ul{
                            li{
                                display: inline-block;
                                .fa-phone,.fa-envelope{
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                    .siguenos{
                        img{
                            display: none;
                            width: 100%;
                        }
                    }

                }

            }

        }

   }
   @include m.desktop(){
        .caja-contacto-form{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .contenedor-form{
                flex: 0 0 calc(60%);
                padding: 5rem;  
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                .info-contact{
                    form{
                        .inputs{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            .input-group{
                                flex: 0 0 calc(49%);
                                input[type="text"]{
                                    width: 100%;
                                    height: 2.1rem;
                                    border: 1px solid #ced4da;
                                    border-radius: 5px;
                                    margin-top: .3rem;
                                    padding: 10px 10px;
                                    margin-bottom: 0.3rem;
                                }
                                input[type="text"]:focus {
                                    outline: 0;
                                    border-color: #3d9cff;
                                    box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
                                }
                            }
                        }

                       }
                }
            }
            .comunicate{
                flex: 0 0 calc(30%);
                .caja-contacto-info{
                    .mas-info{
                        margin-top: 1rem;
                        margin-left: 1rem;
                        ul{
                            li{
                               display: block;
                                .fa-phone,.fa-envelope{
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                    .siguenos{
                        img{
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.appWhatsapp{
    position: fixed;
    right: 0px;
    bottom: 10px;
    z-index: 10;
}
.fa-whatsapp-square{
    color: #86f800;
    font-size: 3rem;
    
}
